<!DOCTYPE html>
<html lang="en">
<div class="container">
  <div class="jumbotron">
    <h1>IdeaBox 2.0</h1>
    <p>So many ideas!</p>
    <form id="idea-form">
      <div class="form-group">
        <label>Title</label>
        <input type="text" class="form-control" id="idea-title" placeholder="Enter Title">
      </div>
      <div class="form-group">
        <label>Description</label>
        <input type="text" class="form-control" id="idea-body" placeholder="Enter Description">
      </div>
      <button type="submit" id="idea-save" class="btn btn-default">Save</button>
    </form>
  </div>
  <form class="form-inline">
    <div class="form-group">
      <label>Search:</label>
      <input type="text" class="form-control" id="search-field" placeholder="Find Idea">
    </div>
  </form>
  <ul class="list-group" id="idea-list">
    <% @ideas.each do |idea| %>
      <li class="list-group-item" data-id="<%= idea.id %>">
        <h3 class="idea-title"><%= idea.title %></h3><br>
        <p class="idea-body"><%= idea.body %></p><br>
        <p class="idea-quality">Quality: <%= idea.quality %></p><br>
        <button id="idea-edit" class="btn btn-default">Edit</button><br>
        <button id="idea-delete" class="btn btn-default">Delete</button>
      </li>
    <% end %>
  </ul>
</div>
</html>
