// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";



// JUMBOTRON //

.jumbotron {
  padding-top: 20px;
  margin-top: 20px;
}



// IDEA LIST //

.list-group {
  margin-top: 40px;
}
